header{
    position: absolute;
    height: 800px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.header-text{
    /* Maxim */
    position: absolute;
    width: 580px;
    height: 254px;
    left: 186px;
    top: 239px;
    
    font-family: Allan;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 286px;
    
    color: #245900;
    
    text-shadow: 3px 3px 0px #FFFFFF;
}

.header-img{
    width: 100%;
    height: auto;
}